@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    font-family:'Poppins','sans-serif';
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

h2{
    margin: 30px;
    
}
.table{
    margin: 50px;

}
.address{
    height: 80px
}
input{
    width:450px
}